body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#e5989b, #ffcdb2);
    color: #47126b;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #9163cb;
    margin-bottom: 10px;
}

#bday-age {
    background: #ffc2e2;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #ffc2e2;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 320px;
}

.gift-img {
    margin: 20px auto;
    max-width: 300px;
    height: 320px;
    border: 6px solid #9163cb;
    border-radius: 10px;
    background-image: url("assets/gift_1.jpeg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("assets/happy.gif");
    margin: auto;
}

#gift-img-hot:hover {
    background-image: url("assets/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("assets/lovely.gif");
}

#gift-img-badass:hover {
    background-image: url("assets/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("assets/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
